<header>
  <nav>
    <button routerLink="/">Main</button>
    <button routerLink="about">About</button>
  </nav>
</header>

<router-outlet></router-outlet>

<h1>Todo List</h1>

<div style="display: flex; margin-bottom: 20px;">
  <div>
    <input type="text" placeholder="ToDo name" [formControl]="name" maxlength="50">
    <p style="margin: 0;" [style.color]="name.value?.length < 50 ? 'grey' : 'red'">{{ name.value?.length || 0 }} / 50</p>
  </div>
  <button class="button" (click)="addTodo(name.value)" [disabled]="name.invalid">Create</button>
</div>
<input type="text" placeholder="search..." [formControl]="search">

<article *ngFor="let todo of (todos$ | async); let i = index" class="todo-item">
  <span>{{ todo.name }}</span>
  <span (click)="deleteTodo(i)">X</span>
</article>

